@using events.tac.local.Models
@using TAC.Utils.Helpers

@model EventsList

<!-- [Event List] -->
<div class="content-list newslist">
    <ol class="media-list">
        @foreach (EventDetails e in Model.Events)
        {
            <li class="media media-align-middle">
                <div class="media-left">
                    <a href="Event-Detail.html">
                        @e.EventImage
                    </a>
                </div>
                <div class="media-body">
                    <h3 class="media-heading">
                        @e.ContentHeading
                    </h3>
                    <div class="description">
                        @e.Content
                    </div>
                </div>
                <div class="metadata well">June 28, 2016</div>
            </li>
        }
    </ol>
</div>

@Html.Pager(Model.PageSize,Model.TotalResultCount)
<!-- [Event List] -->
