@model IEnumerable<events.tac.local.Models.NavigationItem>

<!-- [Breadcrumb Navigation] -->
<ol class="breadcrumb">
    <li><a href="Index.html">Home</a></li>
    <li><a href="Event-Sections.html">Events</a></li>
    <li><a href="Event-List.html">Climbing</a></li>
    <li class="active"><a href="Event-Detail.html">Climbing the Face of Half Dome</a></li>
</ol>
<!-- [/Breadcrumb Navigation] -->